.DirectoryListHeaderCell {
  text-transform: capitalize;
}

.DirectoryList{
  overflow-y: auto;
  overflow-x: hidden;
  height: 30em;
}

.DirectoryListTable {
  width: 100%;
}

.DirectoryListHeaderCell:first-child {
  width: 60%;
}