.DirectoryListRow {
  &.FileEntity {
    background-color: lavender;
  }
  &.DirectoryEntity {
    background-color: khaki;
  }

  &.FileEntity, &.DirectoryEntity {
    &:hover {
      background-color: lightblue;
    }
  }
  border-collapse: collapse;
  border-bottom: none;
  cursor: pointer;
  min-height: 1em;
  height: 1.2em;
}

.DirectoryListCell {
  div, input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
  }
  cursor: pointer;


  div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: inherit;
  }


  /* Make an input blend into its parent */
  input {

    /* Eliminate borders and padding */
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: inherit;

    width: 100%;

    /* Inherit the parent element's typography */
    font: inherit;
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    text-align: inherit;

    /* Seems to help alignment in headers */
    vertical-align: top;

    /* Add interaction cues on hover and focus */
    &:focus {
      /* Change the background to a light yellow */
      background-color: #FFFFFF;
      border: none;
      outline: solid 1px blue;
      outline-offset: 0;
      cursor: text;

      /* A subtle transition never hurts */
      -webkit-transition: background-color 0.5s;
      -moz-transition: background-color 0.5s;
      -ie-transition: background-color 0.5s;
      transition: background-color 0.5s;
    }
  }
}